<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link rel="stylesheet" href="../src/styles.css" />
</head>

<body class="light-mode">
  <header>
    <nav>
      <div class="logo">
        <a href="index.html"><img src="../src/logo.png" alt="Logo"></a>
      </div>
      <div class="pages">
        <a class="search" href="./search.html"><img src="../src/search.png"></a>
        <a class="watchlist" href="./watchlist.html"><img src="../src/watchlist.png" alt=""></a>
        <a class="favourite" href="./favourites.html"><img src="../src/fav.png"></a>
        <a class="history" href="./history.html"><img src="../src/history.png"></a>
      </div>
    </nav>
  </header>

  <h1 id="mavie-tiem">🎞️ Mavie taim!</h1>
  <p id="tagline">Let's watch some movies :3</p>

  <!-- <button id="lamp" onclick="toggleDarkMode();">💡</button> -->

  <button id="SearchPageButton" onclick="GoSearchPage();">Search a Movie</button>
  <div>
    <script>
      function GoSearchPage() {
        window.location.href = "search.html";
      }
    </script>
  </div>

  <section>
    <h2>Popular Movies:</h2>
    <div id="hotfilms">
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      getPopularFilms();
    });
  </script>

  <script defer src="../viewscripts/functions.js"></script>

</body>

</html>