<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link rel="stylesheet" href="../src/styles.css" />
</head>

<body>
  <h1>🎞️ Mavie taim!</h1>
  <p>Let's watch some movies :3</p>
  <div>
    <button id="SearchPageButton" onclick="GoSearchPage();">Go to Search</button>
    <script>
      function GoSearchPage() {
        window.location.href = "search.html";
      }
    </script>
  </div>

  <section>
    <div id="hotfilms">
    </div>
  </section>

  <!-- You can also require other files to run in this process -->
  <script defer src="../viewscripts/functions.js"></script>


</body>

</html>