<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title> Movie Info </title>
    <link rel="stylesheet" href="../src/styles.css" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <div class="pages">
                <a class="search" href="./search.html"><img src="../images/search.png"></a>
                <a class="watchlist" href="./watchlist.html"><img src="../images/watchlist.png" alt=""></a>
                <a class="favourite" href="./favourites.html"><img src="../images/fav.png"></a>
                <a class="history" href="./history.html"><img src="../images/history.png"></a>
            </div>
        </nav>
    </header>

    <button class="back-button" onclick="goBackToResults()"> <span>⬅</span> Back to Search Results</button>

    <h1> Movie Info 🎥</h1>

    <section>
        <div id="movie-info">
            <div class="title">
                <h1 id="title"></h1>
                <p id="year"></p>
            </div>
            <div class="poster">
                <img id="poster" src="" alt="Poster">
            </div>
            <div class="buttons">
                <div class="add-buttons">
                    <button class="add-wl" onclick="saveJsonFav('watchlist')">
                        <img src="../images/add_watchlist.png" alt="add-watchlist">
                    </button>
                    <button class="add-fav" onclick="saveJsonFav('favourites')">
                        <img src="../images/add_fav.png" alt="add-fav">
                    </button>
                </div>
                <div class="watch-buttons">
                    <button id="watch-button-1">checking link...</button>
                    <button id="watch-button-2">checking link...</button>
                </div>
            </div>
            <div class="plot">
                <p id="plot"></p>
            </div>
            <hr>
            <div class="misc-info">
                <p id="imdb"></p>
                <p id="genre"></p>
                <p id="age-rating"></p>
                <p id="runtime"></p>
                <p id="release-date"></p>
                <p id="language"></p>
                <p id="country"></p>
            </div>
            <hr>
            <div class="cast-crew">
                <h3>👤 Cast & Crew:</h3>
                <p id="director"></p>
                <p id="writer"></p>
                <p id="actors"></p>
            </div>
            <hr>
            <div class="awards">
                <h3>🏆 Awards:</h3>
                <p id="awards"></p>
            </div>
            <hr>
            <div class="ratings">
                <h3>⭐ Ratings:</h3>
                <p id="imdb-rating"></p>
                <p id="rotten-tomatoes-rating"></p>
                <p id="metacritic-rating"></p>
            </div>
        </div>
    </section>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const imdbID = urlParams.get('imdbID');

        document.getElementById("imdb")
        imdb.innerText = imdbID;

        if (!(urlParams.has('searchQuery'))) {
            document.querySelector('.back-button').remove();
        }

        function goBackToResults() {
            const urlParams = new URLSearchParams(window.location.search);
            const searchQuery = urlParams.get('searchQuery');
            console.log(`search query: ${searchQuery}`);
            const movieSearchPageUrl = '../views/search.html';
            const urlWithQuery = `${movieSearchPageUrl}?searchQuery=${searchQuery}`;
            window.location.href = urlWithQuery;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            FilmInfo();
        });
    </script>
    <script defer src="../viewscripts/functions.js"></script>


</body>

</html>