<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Search</title>
  <link rel="stylesheet" href="../src/styles.css" />
</head>


<body>
  <header>
    <nav>
      <div class="logo">
        <a href="index.html"><img src="../src/logo.png" alt="Logo"></a>
      </div>
      <div class="pages">
        <a class="search" href="./search.html"><img src="../src/search.png"></a>
        <a class="watchlist" href="./watchlist.html"><img src="../src/watchlist.png" alt=""></a>
        <a class="favourite" href="./favourites.html"><img src="../src/fav.png"></a>
        <a class="history" href="./history.html"><img src="../src/history.png"></a>
      </div>
    </nav>
  </header>

  <h1> Movie Search 🔍</h1>
  <div class="search-tip">
    <strong>💡 Search Tip</strong><br>
    <div class="tip">For the best results, enter a complete word from the movie title. <br>
      For example, if you're looking for <span class="highlight">'The Hobbit: An Unexpected Journey'</span> enter words
      like <span class="highlight">'hobbit'</span>, <span class="highlight">'journey'</span> , or
      <span class="highlight">'unexpected'</span> instead of an incomplete word like <span
        class="highlight">'hobb'</span>
      or <span class="highlight">'journ'</span>.
    </div>


  </div>

  <section>

    <div class="search-container">
      <input type="text" id="searchInput" onkeydown="handleKeyDown(event)">
      <button id="infobutton" onclick="SearchFilms();">Search</button>
    </div>
    <script>
      function handleKeyDown(event) {
        // Check if the pressed key is Enter (key code 13)
        if (event.keyCode === 13) {
          // Prevent the default form submission behavior
          event.preventDefault();
          // Call the SearchFilms() function
          SearchFilms();
        }
      }
    </script>
    <div id="searchedFilms">
    </div>

  </section>
  <script defer src="../viewscripts/functions.js"></script>


</body>

</html>