<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Screen</title>
    <link rel="stylesheet" href="../src/styles.css" />
</head>

<body class="light-mode">

    <header>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <div class="pages">
                <a class="search" href="./search.html"><img src="../images/search.png"></a>
                <a class="watchlist" href="./watchlist.html"><img src="../images/watchlist.png" alt=""></a>
                <a class="favourite" href="./favourites.html"><img src="../images/fav.png"></a>
                <a class="history" href="./history.html"><img src="../images/history.png"></a>
            </div>
        </nav>
    </header>

    <button class="back-button" onclick="goBack()"><span>⬅</span> Back to Movie Info</button>
    <script>
        function goBack() {
            window.location.href = sessionStorage.getItem("backToInfo");
        }
    </script>

    <h1 id="title">movie title</h1>

    <!-- Embed the video player -->
    <iframe id="videoFrame" src="" frameborder="0" allowfullscreen="true" width="100%" height="500"></iframe>

    <!-- <button onclick="toggleDarkMode()">Toggle Dark Mode</button> -->
    <button id="cinema-mode-button" onclick="toggleCinemaMode()">Toggle Cinema Mode</button>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const imdbID = urlParams.get('imdbID');
        const videoFrame = document.getElementById("videoFrame");
        videoFrame.src = `https://vidsrc.to/embed/movie/${imdbID}`;
    </script>

    <script>
        function toggleCinemaMode() {
            const body = document.body;
            const header = document.querySelector('header');
            // const button = document.querySelector('#cinema-mode-button');
            const videoFrame = document.getElementById('videoFrame');
            body.classList.toggle('cinema-mode');
            header.classList.toggle('cinema-mode');
            // button.classList.toggle('cinema-mode');
            videoFrame.classList.toggle('cinema-mode');
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            const urlParams = new URLSearchParams(window.location.search);
            const Title = urlParams.get('title');
            document.getElementById("title");
            title.innerText = Title;
            saveJsonHistory();
        });
    </script>
    <script defer src="../viewscripts/functions.js"></script>

</body>

</html>