/* ffbe4f */

/* Header */

nav {
  background-color: #B7C9F2;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  height: 90px;
}

nav a {
  padding: 5px;
  text-decoration: none;
}

.logo {
  padding: 10px;
  height: 100%;
}

.logo img {
  max-height: 70px;
}

.pages {
  padding: 20px;
  margin-top: 10px;
}

.pages button {
  float: right;
  background-color: #191919;
  color: beige;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px;
}

.pages img {
  max-height: 30px;
}

/* General */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  padding: 2rem;
}

h1 {
  margin-left: 10px;
}

button {
  color: #fff;
}

.back-button {
  background-color:  #009C4A;
}
/* Home Page */

#intro {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

#intro div {
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
}

#intro div img {
  height: 300px;
}

#mavie-tiem {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #333;
}

#tagline {
  text-align: center;
  font-size: 18px;
  color: #323232;
}

#SearchPageButton {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #FB88B4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#SearchPage:hover {
  background-color: #0056b3;
}

#lamp {
  display: block;
  margin: 30px auto;
  padding: 15px 15px;
  font-size: 18px;
  background-color: #fff3ad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Search Page */

.search-tip {
  background-color: #f7f7f7;
  color: #515151;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 7%;
  margin-bottom: 20px;
  width: 83.7%;
  margin-left: auto;
  margin-right: auto;
}

.search-tip .highlight {
  font-style: italic;
  color: #191919;
}

.search-tip .tip {
  padding: 5px;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.search-container input[type="text"] {
  font-size: 16px;
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 65%;
}

.search-container button {
  padding: 10px 20px;
  background-color: #887cf7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #665db8;
}

/* Movie Listing */

#favourites,
#watchlist,
#hotfilms,
#searchedFilms {
  padding: 10px;
  border-radius: 5px;
}

.search-done {
  background-color: #B7C9F2;
}

.movie-card {
  background-color: #000000;
  display: inline-block;
  /* Display cards inline */
  /* width: calc(25% - 20px); */
  width: 202.5px;
  /* Set width for each card (25% of container width minus margin) */
  margin: 10px;
  /* Margin between cards */
  text-align: center;
  /* Center align content */
  overflow: hidden;
  /* Ensure consistent height for all cards */
  border-radius: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}

.poster-image {
  width: 100%;
  height: 300px;
  /* margin-bottom: 10px; */
  /* Margin at the bottom to separate poster from title */
  border-radius: 5px;
}

.movie-title {
  color: rgb(255, 255, 255);
  padding: 4px;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  height: 3.6em;
  /* Set specific height for the title area (3.6em = 3 lines of text) */
  overflow: hidden;
  /* Hide overflow to ensure consistent height */
  text-overflow: ellipsis;
  /* Add ellipsis for long titles */
  /* display: -webkit-box; */
  /* For old Safari */
  -webkit-line-clamp: 3;
  /* Limit number of lines to 3 */
  /* -webkit-box-orient: vertical; */
  /* Vertical layout */
  display: flex;
  /* Use flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

/* Movie Info */
#movie-info {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #FF884B;
}

.poster {
  text-align: center;
}

.poster img {
  border: #000 2px solid;
}

#movie-info .buttons {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.delete-film-button,
.add-fav,
.add-wl {
  border: none;
  margin-left: 7px;
  margin-right: 7px;
  background-color: #000000;
  height: 45px;
  width: 45px;
  /* padding: 100px; */
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px;
}

.add-fav img {
  margin-top: 6px;
  max-height: 30px;
}

.add-wl img {
  margin-top: 6px;
  max-height: 27px;
}

#watch-button {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: #FF884B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.title {
  display: flex;
}

#year {
  margin-top: 27px;
  margin-left: 5px;
}

.title,
.plot,
.misc-info,
.cast-crew,
.awards,
.ratings {
  margin: 15px;
}

.watch-button {
  background-color: #FF884B;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cinema */

.cinema-mode {
  background-color: #000;
}

#cinema-mode-button {
  background-color: #000000;
  color: rgb(156, 156, 156);
  border: rgb(93, 93, 93);
  padding: 5px 15px;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.cinema-mode header {
  display: none;
  /* Hide header in cinema mode */
}

/* Light/Dark Mode */
/* .dark-mode {
  background-color: #333;
  color: rgb(254, 254, 254);
}

.light-mode {
  background-color: #f8f8f8;
  color: #333;
} */

/* .dark-mode button {
  background-color: #000000;
  color: beige;
} */

/* History */

#history {
  border-collapse: collapse;
  margin-top: 20px;
}

#history table {
  width: 100%;
}

#history th,
#history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#history a {
  text-decoration: none;
  color: #9195F6;
}

#history tr:not(:first-child):hover {
  background-color: #B7C9F2;
}

#history a:hover {
  color: #ffbe4f;
}

#delete-history-div {
  justify-content: right;
}

.delete-history {
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  float: right;
  background-color: #000000;
  height: 45px;
  width: 45px;
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px;
}

.delete-history img {
  margin-top: 6px;
  max-height: 30px;
}

.poster-container {
  position: relative;
}

/* Favourites/Watchlist */

.delete-film-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  /* Ensure delete button is above the poster image */
}

.delete-film-button img {
  margin-top: 6px;
  max-height: 27px;
}